<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.iowacityrobotics.rebuiltscoutingapp2026">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/main_theme">

        <activity
            android:name=".StartScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SetupScreen" />

        <activity android:name=".PitScouting" />

        <activity android:name=".data.DataEditor" />
        <activity android:name=".data.DataEntry" />

        <activity android:name=".InstructionsScreen" />
        <activity android:name=".Slider" />

    </application>

</manifest>